<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Agendamento</ion-title>
    <ion-buttons slot=start>
      <ion-button></ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-label color="secondary">Serviços</ion-label>
          <ion-select placeholder="Selecione uma opção" [(ngModel)]="agendamento.servico">
            <ion-item *ngFor="let item of dataServicos">
                <ion-select-option  color="secondary" value="{{item.servico}}">
                  {{item.servico}}
                </ion-select-option>
              </ion-item>
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label color="secondary">Profissionais</ion-label>
          <ion-select placeholder="Selecione uma opção" [(ngModel)]="agendamento.nome">
            <ion-item *ngFor="let item of dataProfissionais">
                <ion-select-option  color="secondary" value="{{item.nome}}">
                  {{item.nome}}
                </ion-select-option>
              </ion-item>
          </ion-select>
      </ion-item> 
      
      <ion-item>
        <ion-label color="secondary">Data e Horário</ion-label>
        <ion-datetime [(ngModel)]="agendamento.data" displayFormat="D MMM YYYY H:mm" min="2019" max="2030"></ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label color="secondary">Forma de pagamento</ion-label>
          <ion-select placeholder="Selecione uma opção" [(ngModel)]="agendamento.pagamento">
                <ion-select-option  color="secondary">Débito</ion-select-option>
                <ion-select-option  color="secondary">Crédito</ion-select-option>
                <ion-select-option  color="secondary">Dinheiro</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="agendamento.endereco" placeholder="Endereço"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="agendamento.valor" placeholder="Preço"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label>
        <ion-button expand="full" color="secondary" (click)="agendar()" >
          <ion-icon name="calendar" slot="start"></ion-icon>
          Agendar
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
    
</ion-content>
