<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Serviços e Profissionais</ion-title>
    <ion-buttons slot=start>
      <ion-button></ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="secondary">Serviços</ion-label>
      </ion-item>
      <ion-item *ngFor="let item of dataServicos">
        <ion-label>{{item.servico}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="secondary">Profissionais</ion-label>
      </ion-item>
      <ion-item *ngFor="let item of dataProfissionais">
        <ion-label>{{item.nome}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="full" color="secondary" routerLink="/agendamento">Fazer agendamento</ion-button>
</ion-footer>