<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
          Massoterapia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-label color="secondary" padding>Agende sua sessão de Massagem!!!</ion-label>
        <img src="/assets/icon/massagem.png">
        <ion-button routerLink="/agendamento" expand="full" color="tertiary">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>Agende uma Sessão</ion-label>
        </ion-button>
    </ion-card>

    <ion-button routerLink="/servicos" expand="full" color="medium">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-button>

</ion-content>

<ion-footer>
  <ion-button (click)="facebookLogin()" expand="full">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    <ion-label>Login com Facebook</ion-label>
  </ion-button>
</ion-footer>
